@import "tailwindcss";
@custom-variant dark (&:is(.dark *));

.scrollbox::-webkit-scrollbar {
    width: 15px;

}

.scrollbox::-webkit-scrollbar-track {
    background: transparent;
    margin: 30px 0;
    border-right: 6px solid #1F1F2B;
}

.scrollbox::-webkit-scrollbar-thumb {
    background-color: #4b5563b7;
    border-radius: 9999px;
    border: 3px solid transparent;
    background-clip: content-box;
    min-height: 40px;
    scroll-margin-right: 150px;
}

.scrollbox::-webkit-scrollbar-thumb:hover {
    background-color: #9ca3afa2; 
} 

