@import "tailwindcss";


.scrollbox::-webkit-scrollbar {
    width: 15px;

}

.scrollbox::-webkit-scrollbar-track {
    background: transparent;
    margin: 30px 0;
    border-right: 6px solid #1F1F2B;
}

.scrollbox::-webkit-scrollbar-thumb {
    background-color: #4b5563b7;
    border-radius: 9999px;
    border: 3px solid transparent;
    background-clip: content-box;
    min-height: 40px;
    scroll-margin-right: 150px;
}

.scrollbox::-webkit-scrollbar-thumb:hover {
    background-color: #9ca3afa2; 
} 


:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}